.categories_wrap{
    margin: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.category{
    margin: 50px 0;
}

.categories_container{
    
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1.5fr;    
}

@media(max-width:1000px){
    .categories_container{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:680px){
    .categories_container{
        display: flex;
        flex-direction: column;
    }
}






.item{
    width: 300px;
    margin: 0 auto;
    height: 300px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item img{
    margin-bottom: 5px;
    margin: 0 auto;
}

.Link{
   text-decoration: none;
   color: black;
}


.outOfStock{
    position: relative;
}
.outOfStock span{
    position: absolute;
    top:50%;left:80px;
    font-size: 1.5em;
    font-weight: 700;
    transform: rotate(-25deg);
}